<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>КОНФЕРЕНЦИИ И ВЫСТАВКИ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'events/icons/favicon.ico' %}"/>
    <script src="{% static 'events/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'events/js/master.js' %}"></script>
    <link rel="stylesheet" href="{% static 'events/css/master.css' %}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.2/css/all.css' integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="promgruz-top">
        <img class="top" src="{% static 'events/icons/fon_vehnego_menu.png' %}" width="100%" height="51px">
        <a href="https://promgruz.com"><img class='promgruz-logo' src="{% static 'events/icons/pg.png' %}"></a>
        <span class='promgruz-search'>ПОИСК</span>
    </div>
        <div class="search-background">
            <div class="top_content">
                <div class="search_img"></div>
                <form class="search" id="searchform" action="{% url 'events:search' %}" method="get" accept-charset="utf-8">
                    <div class="search_input">
                         <input name="q" type="search" placeholder="Событие">
                    </div>
                    <div class="search_button">
                        <input class="search-button" type="submit" value="ПОИСК">
                    </div>
                </form>
                <div class="icon_close"></div>
		    </div>
        </div>
        <div class="promgruz-navbar">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" ><a href="https://promgruz.com">Главная</a></li>
                    <li class="nav-item"><a href="https://promgruz.com/free%20trial">Пробный доступ</a></li>
                    <li class="nav-item"><a href="https://promgruz.com/subscribe">Подписка</a></li>
                    <li class="nav-item"><a href="https://promgruz.com/pages/advertisment.html">Реклама</a></li>
                    <li class="nav-item"><a href="https://promgruz.com/pages/about.html">Об издании</a></li>
                    <li class="nav-item"><a href="https://promgruz.com/archives">Архивы</a></li>
                    <li class="nav-item"><a href="/"><span style="color:red;">Конференции</span></a></li>
                    <li class="nav-item"><a href="https://promgruz.com/pages/contacts.html">Контакты</a></li>
                </ul>
                </div>
            </nav>
        </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="ftr">
        <div class="footer_head">
            <div class="footer_headc block_centers">
                <p class="footer-head"><span class="footer_head_date">2004-2019</span><span class="footer_head_text"> Информационное агентство "Металл-Эксперт"</span></p>
            </div>
        </div>
        <div class="footer-blocks">
            <div class="footer-otkaz block"><p><strong>Отказ от ответственности.</strong> Публикуемые материалы основаны на источниках,
                которые расцениваются как надежные, но редакция не гарантирует их абсолютной точности. Материалы
                предоставляются в информационных целях. Редакция не несет ответственности за действия,
                предпринятые на основе опубликованных материалов.</p>
                {% if user.is_authenticated %}
                    <p style="font-size: 20px;"><b><a href="{% url 'admin:index' %}">DASHBOARD</a></b></p>
                {% endif %}
            </div>
            <div class="footer-prava block"><p><strong>Авторские права.</strong> Все публикуемые материалы и данные являются
                собственностью ООО ”Металл-Эксперт”. Перепечатка либо дальнейшее их распространение в любой форме
                любым способом разрешается только при наличии предварительного письменного согласия владельца авторских прав.</p></div>
            <div class="footer-social block">
                <div class="ico_block ico_facebook"><a href="https://www.facebook.com/promgruz/" target="_blank">Facebook</a></div>
                <div class="ico_block ico_linkedin" style="margin-bottom: 0px; margin-right:5px;"><a href="https://www.linkedin.com/company/промышленные-грузы" style="margin-left:5px;" target="_blank">LinkedIn</a></div>
                <div class="ico_block ico_rss" style="margin-bottom: 0px;"><a href="https://promgruz.com/rss.xml" target="_blank">RSS</a></div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</html>
