{% extends 'base.html'%}
{% load customtags %}
{% block content %}
    {% if event.banner %}
        <div class="event-banner"><img id="event-banner-img" class="img-fluid" src="{{ event.banner.url }}" width="1110"></div>
    {% endif %}
    <div class="cont">
           <div class="cell cell-1">
            {{ event.description|safe }}
            <p><a href="{{ event.web_site }}" {% if event.new_tab %} target="_blank" {% endif %}><button type="button" class="btn event-detail-button">Перейти на сайт</button></a></p>
           </div>
           <div class="cell cell-2">
                <table class="location-info-table">
                  {% if event.location %}
                    <tr>
                        <td class="td-icon"><i class='fas fa-building'></i><span class="after-icon city"> Город:</span></td><td class="content">{{event.location.city}}</td>
                    </tr>
                    <tr>
                        <td class="td-icon"><i class='fas fa-map'></i><span class="after-icon address"> Адрес:</span></td><td class="content">{{event.location.address}}</td>
                    </tr>
                    <tr>
                        <td class="td-icon"><i class='fas fa-map-marker-alt'></i><span class="after-icon place"> Место:</span></td>
                        <td class="content"><a href="{{ event.location.get_absolute_url }}">{{event.location.name}}</a></td>
                    </tr>
                  {% endif %}
                    <tr>
                        <td class="td-icon"><i class='fas fa-globe'></i><span class="after-icon site"> Сайт:</span></td>
                        <td class="content"><a href="{{ event.web_site }}" {% if event.new_tab %} target="_blank" {% endif %}>{{event.web_site|strip_url}}</a></td>
                    </tr>
                    <tr>
                        <td class="td-icon"><i class='fas fa-calendar-alt'></i><span class="after-icon date"> Дата:</span></td>
                        <td class="content">
                        {% if event.passed %}
                        {{event.date_start|date:"d F Y"}}{% if event.date_end.day != event.date_start.day %} - {{event.date_end|date:"d F Y"}}{% endif %}
                        {% else %}
                        <a href="{{ event.google_calendar_link }}" title="Добавить событие в календарь Google" target="_blank">
                          {{event.date_start|date:"d F Y"}}{% if event.date_end.day != event.date_start.day %} - {{event.date_end|date:"d F Y"}}{% endif %}
                        </a>
                        {% endif %}
                        </td>
                    </tr>
                </table>
                <hr>
           </div>
           <div class="cell cell-3">
                {% if event.parent_event %}
                    <div class="parent-event"><h5><b>Событие проходит в рамках:</b></h5> <a href="{{ event.parent_event.get_absolute_url }}">{{ event.parent_event.name }}</a></div>
                {% endif %}
                {% if event.children.all %}
                    <h5><b>В рамках данного события пройдут:</b></h5>
                    {% for child in event.children.all %}
                       <p class="p-related"><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></p>
                    {% endfor %}
                {% endif %}
                {% if event.related_events.all %}
                   <p class="p-related"><b>Связанные события:</b></p>
                    {% for related_event in event.related_events.all %}
                        <p class="p-related"><a href="{{ related_event.get_absolute_url }}">{{ related_event.name }}</a></p>
                    {% endfor %}
                {% endif %}
           </div>
      {% if user.is_authenticated %}
        <a href="{% url 'admin:events_event_change' event.id %}" style="font-size:20px; color: #e74c3c">Редактировать</a>
      {% endif %}
    </div>
{% endblock content %}
