certifi==2018.8.24
chardet==3.0.4
construct==2.5.3
Cython==0.28.5
Django==2.2.13
django-bootstrap3==11.0.0
django-bootstrap4==0.0.7
django-countries==5.3.2
django-crispy-forms==1.7.2
django-google-maps==0.10.1
django-jet==1.0.8
Faker==0.9.2
future==0.16.0
haystack==0.42
idna==2.7
mysql-connector-python==8.0.12
pbr==5.1.0
pefile==2018.8.8
Pillow==5.3.0
protobuf==3.6.1
python-dateutil==2.7.3
python-ptrace==0.9.3
pytz==2018.6
six==1.11.0
stevedore==1.30.0
text-unidecode==1.2
transliterate==1.10.2
virtualenvwrapper==4.8.2
xlrd==1.1.0