{% extends 'events/base.html' %}
{% block content %}
<br><br><br>
<div class="stat_page line_border">
	<div class="stat_page_content line_border">
		<div class="autor_top_head"><span>Страница не найдена</span></div>
  <div class="news_text">
    <p style="
     font-family:Arial;font-size:11pt;text-align:left;"><style>.exl { background-image: url('../icons/exl.png');background-repeat: no-repeat;
    padding-left: 23px; background-position: 1px center; color: #cd070d;
    font-family: Candara Regular; font-size: 18px; padding-top: 1px;
    padding-bottom: 1px;} p { line-height: 1.5; font-family: Tahoma; font-size:
    12px; text-align: left;} .ex a {color: #477085; text-decoration: none;} .ex
    a:hover {text-decoration: underline;}</style>
    </p>
    <p style="
     font-family:Arial;
     font-size:
     11pt;

     text-align:
     left;
     "></p><p><span class="exl">404. Страница не найдена</span></p><p></p>
    <p style="font-family:Arial;font-size:11pt; text-align:left;">
      <br><br>
    </p>
    <p style="font-family:Arial;font-size:11pt;text-align:left;"></p>
    <p>Адрес запрошенной Вами страницы неверный, либо запрошенная страница больше не существует.</p>
    <p></p>
    <p style="font-family:Arial;font-size:11pt;text-align:left;"></p>
    <p class="ex">Для продолжения пройдите на <a href="https://promgruz.com">главную
    страницу</a> или вернитесь на <a href="javascript:history.back()">предыдущую</a>.</p><p></p>
    </div>
	</div>
</div>
{% endblock content %}
